.container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 56px;
}

.project__links > * {
  text-decoration: none;
  color: gray;
  font-size: x-large;
}
.project__links:hover > * {
  text-decoration: underline;
  color: blue;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
